<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Website</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
  </head>
  <body>
    <!-- Navbar  -->
    <header>
      <a href="#home" class="logo"> <i class="bx bxs-movie"></i>ZenMovies </a>
      <div class="bx bx-menu" id="menu-icon"></div>

      <!-- menu  -->
      <ul class="navbar">
        <li><a href="#home" class="home-active">Home</a></li>
        <li><a href="#movies">Movies</a></li>
        <li><a href="#coming">Coming</a></li>
        <li><a href="#newsletter">Newsletter</a></li>

        <!-- Conditional display for user authentication -->
        {% if 'username' in session %}
        <li><a href="/profile">{{ session['username'] }}</a></li>
        <li><a href="/logout" class="btn">Log Out</a></li>
        {% else %}
        <li><a href="/logout" class="btn">Log Out</a></li>
        {% endif %}
      </ul>
    </header>

    <!-- Home  -->
    <div class="deslide-wrap">
      <div class="container">
        <div id="slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="deslide-item">
                <div class="deslide-cover">
                  <div class="deslide-cover-img">
                    <img
                      class="film-poster-img lazyload"
                      data-src="static/img/home1.jpg"
                      alt="Society of the Snow"
                    />
                  </div>
                </div>
                <div class="deslide-item-content">
                  <div class="desi-sub-text">#1 Spotlight</div>
                  <div
                    class="desi-head-title dynamic-name"
                    data-jname="Society of the Snow"
                  >
                    Society of the Snow
                  </div>
                  <div class="sc-detail">
                    <div class="scd-item">
                      <i class="fas fa-play-circle mr-1"></i>TV
                    </div>
                    <div class="scd-item">
                      <i class="fas fa-clock mr-1"></i>2h 24m
                    </div>
                    <div class="scd-item m-hide">
                      <i class="fas fa-calendar mr-1"></i>12/15/2023
                    </div>

                    <div class="clearfix"></div>
                  </div>
                  <div class="desi-description">
                    In 1972, the Uruguayan Air Force flight 571, chartered to
                    transport a rugby team to Chile, experiences an unexpected
                    incident and crashes into a glacier in the heart of the
                    Andes. Of the 45 passengers on board, only 16 manage to
                    survive. Trapped in one of the most inaccessible and hostile
                    environments on the planet, they are forced to take extreme
                    measures to stay alive. Their survival will depend on the
                    decisions they make in the midst of this desperate
                    situation.
                  </div>
                  <div class="desi-buttons">
                    <a
                      href="/movie_info/Society of the Snow"
                      class="btn btn-primary btn-radius mr-2"
                      ><i class="fas fa-play-circle mr-2"></i>Watch Now</a
                    >
                    <a
                      href="/movie_info/Society of the Snow"
                      class="btn btn-secondary btn-radius"
                      >Detail<i class="fas fa-angle-right ml-2"></i
                    ></a>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="deslide-item">
                <div class="deslide-cover">
                  <div class="deslide-cover-img">
                    <img
                      class="film-poster-img lazyload"
                      data-src="static/img/home2.png"
                      alt="Kusuriya no Hitorigoto"
                    />
                  </div>
                </div>
                <div class="deslide-item-content">
                  <div class="desi-sub-text">#2 Spotlight</div>
                  <div
                    class="desi-head-title dynamic-name"
                    data-jname="Kusuriya no Hitorigoto"
                  >
                    The Apothecary Diaries
                  </div>
                  <div class="sc-detail">
                    <div class="scd-item">
                      <i class="fas fa-play-circle mr-1"></i>TV
                    </div>
                    <div class="scd-item">
                      <i class="fas fa-clock mr-1"></i>24m
                    </div>
                    <div class="scd-item m-hide">
                      <i class="fas fa-calendar mr-1"></i>Oct 22, 2023
                    </div>

                    <div class="clearfix"></div>
                  </div>
                  <div class="desi-description">
                    In an imperial court in ancient China, it has been a few
                    months since a 17-year-old girl known as Maomao was
                    kidnapped and forced to work as a low-level servant at the
                    emperor's palace. Still, she manages to retain her curious
                    and pragmatic spirit, planning to work until her years of
                    servitude are over. One day, however, she catches wind of
                    the fact that the emperor's two infants have fallen gravely
                    ill. She decides to secretly take action, drawing on her
                    experience as a pharmacist raised in the poor red-light
                    district. Despite Maomao's attempts to remain anonymous, she
                    soon catches the eye of Jinshi, an influential eunuch who
                    recognizes her talents. Maomao soon finds herself in the
                    emperor's inner court, where she gradually makes a name for
                    herself by utilizing her knowledge and eccentric personality
                    to solve various medical mysteries.
                  </div>
                  <div class="desi-buttons">
                    <a
                      href="/watch/the-apothecary-diaries-18578"
                      class="btn btn-primary btn-radius mr-2"
                      ><i class="fas fa-play-circle mr-2"></i>Watch Now</a
                    >
                    <a
                      href="/the-apothecary-diaries-18578"
                      class="btn btn-secondary btn-radius"
                      >Detail<i class="fas fa-angle-right ml-2"></i
                    ></a>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="deslide-item">
                <div class="deslide-cover">
                  <div class="deslide-cover-img">
                    <img
                      class="film-poster-img lazyload"
                      data-src="static/img/home3.jpg"
                      alt="Dungeon Meshi"
                    />
                  </div>
                </div>
                <div class="deslide-item-content">
                  <div class="desi-sub-text">#3 Spotlight</div>
                  <div
                    class="desi-head-title dynamic-name"
                    data-jname="Dungeon Meshi"
                  >
                    Delicious in Dungeon
                  </div>
                  <div class="sc-detail">
                    <div class="scd-item">
                      <i class="fas fa-play-circle mr-1"></i>TV
                    </div>
                    <div class="scd-item">
                      <i class="fas fa-clock mr-1"></i>23m
                    </div>
                    <div class="scd-item m-hide">
                      <i class="fas fa-calendar mr-1"></i>Jan 4, 2024

                      <div class="clearfix"></div>
                    </div>
                    <div class="desi-description">
                      After the Golden Kingdom is sunk underground by an insane
                      magician, its king emerges, promising all of his treasure
                      to any who defeat the magician, before crumbling to dust.
                      Guilds are spurred on by this promise, traversing the
                      labyrinthine dungeon in search of the magician. Laios, the
                      leader of one such guild, encounters a dragon that wipes
                      out his party and devours his sister Falin. Despite having
                      lost the entirety of their supplies and belongings, Laios
                      along with Marcille, an elven healer, and Chilchuck, a
                      halfling thief, immediately reenter the dungeon,
                      determined to save Falin. Time being of the essence, Laios
                      suggests the taboo of eating the monsters of the dungeon
                      as a means of gathering supplies. Upon the preparation of
                      their first meal in the dungeon, they are stopped by an
                      onlooking dwarf named Senshi. An enthusiast of monster
                      cooking, he helps them prepare their monster ingredients
                      for safe consumption. After learning of Laios'
                      circumstances, Senshi expresses his desire to cook a
                      dragon and joins their guild, thus beginning their
                      food-filled foray into the dungeon together.
                    </div>
                    <div class="desi-buttons">
                      <a
                        href="/watch/delicious-in-dungeon-18506"
                        class="btn btn-primary btn-radius mr-2"
                        ><i class="fas fa-play-circle mr-2"></i>Watch Now</a
                      >
                      <a
                        href="/delicious-in-dungeon-18506"
                        class="btn btn-secondary btn-radius"
                        >Detail<i class="fas fa-angle-right ml-2"></i
                      ></a>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Movies  -->
    <div class="movies" id="movies">
      <h2 class="heading">Opening This Week</h2>
      <!-- Movies container  -->
      <div class="movies-container">
        <!-- box-1  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m1.jpg" alt="" />
          </div>
          <h3>Dr.Strange</h3>
          <a href="/movie_info/Doctor Strange" class="btn more-info-btn"
            >More Info</a
          >
        </div>
        <!-- box-2  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m2.jpg" alt="" />
          </div>
          <h3>Pathaan</h3>
          <a href="/movie_info/Pathaan" class="btn more-info-btn">More Info</a>
        </div>
        <!-- box-3  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m3.jpg" alt="" />
          </div>
          <h3>Batman vs Superman</h3>
          <a href="/movie_info/Batman vs Superman" class="btn more-info-btn"
            >More Info</a
          >
        </div>
        <!-- box-4  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m4.jpg" alt="" />
          </div>
          <h3>John Wick 2</h3>
          <a href="/movie_info/John Wick 2" class="btn more-info-btn"
            >More Info</a
          >
        </div>
        <!-- box-5  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m5.jpg" alt="" />
          </div>
          <h3>Aquaman</h3>
          <a href="/movie_info/Aquaman" class="btn more-info-btn">More Info</a>
        </div>
        <!-- box-6  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m6.jpg" alt="" />
          </div>
          <h3>Black Panther</h3>
          <a href="/movie_info/Black Panther" class="btn more-info-btn"
            >More Info</a
          >
        </div>
        <!-- box-7  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m7.jpg" alt="" />
          </div>
          <h3>Uncharted</h3>
          <a href="/movie_info/Uncharted" class="btn more-info-btn"
            >More Info</a
          >
        </div>
        <!-- box-8  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m8.jpg" alt="" />
          </div>
          <h3>Brahmastra</h3>
          <a href="/movie_info/Brahmastra" class="btn more-info-btn"
            >More Info</a
          >
        </div>
        <!-- box-9  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m9.jpg" alt="" />
          </div>
          <h3>Mortal-Engines</h3>
          <a href="/movie_info/Mortal-Engines" class="btn more-info-btn"
            >More Info</a
          >
        </div>
        <!-- box-10  -->
        <div class="box">
          <div class="box-img">
            <img src="static/img/m10.jpg" alt="" />
          </div>
          <h3>UnderWorld Blood Wars</h3>
          <a href="/movie_info/UnderWorld Blood Wars" class="btn more-info-btn"
            >More Info</a
          >
        </div>
      </div>
    </div>

    <!-- coming  -->
    <section class="coming" id="coming">
      <h2 class="heading">Coming Soon</h2>
      <!-- coming contanier  -->
      <div class="coming-container swiper">
        <div class="swiper-wrapper">
          <!-- box-1  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c1.jpg" alt="" />
            </div>
            <h3>Ant-Man and the Wasp:Quantumania</h3>
          </div>
          <!-- box-2  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c2.jpg" alt="" />
            </div>
            <h3>The Flash</h3>
          </div>
          <!-- box-3  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c3.jpg" alt="" />
            </div>
            <h3>Guardians of the Galaxy Vol.3</h3>
          </div>
          <!-- box-4  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c4.jpg" alt="" />
            </div>
            <h3>Shazam! Fury of the Gods</h3>
          </div>
          <!-- box-5  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c5.jpg" alt="" />
            </div>
            <h3>Aquaman and the Lost Kingdom</h3>
          </div>
          <!-- box-6  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c6.jpg" alt="" />
            </div>
            <h3>John Wick:Chapter 4</h3>
          </div>
          <!-- box-7 -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c7.jpg" alt="" />
            </div>
            <h3>Transformer rise of the beasts</h3>
          </div>
          <!-- box-8  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c8.jpg" alt="" />
            </div>
            <h3>Mission: Impossible 7</h3>
          </div>
          <!-- box-9  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c9.png" alt="" />
            </div>
            <h3>Deadpool 3</h3>
          </div>
          <!-- box-10  -->
          <div class="swiper-slide box">
            <div class="box-img">
              <img src="static/img/c10.jpg" alt="" />
            </div>
            <h3>Dune: Part two</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Newsletter /\ -->
    <section class="newsletter" id="newsletter">
      <h2>Subscribe To Get <br />Newsletter</h2>
      <form action="">
        <input type="email" class="email" placeholder="Enter Email" required />
        <input type="submit" value="Subscribe" class="btn" />
      </form>
    </section>

    <!-- footer  -->
    <section class="footer">
      <a href="" class="logo"> <i class="bx bxs-movie"></i>Sanamio </a>
      <div class="social">
        <a href=""><i class="bx bxl-facebook"></i></a>
        <a href=""><i class="bx bxl-twitter"></i></a>
        <a href=""><i class="bx bxl-instagram"></i></a>
      </div>
    </section>

    <!-- Copyright  -->
    <div class="copyright">
      <p>&#169; Sanamio All Right Reserved</p>
    </div>
    <!-- https://omdbapi.com/?i=tt3896198&apikey=16c1497e -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
      integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="static/css/main.js"></script>
  </body>
</html>
