<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}"
    />
    <title>Login Page</title>
  </head>
  <body>
    <div class="hero">
      <div class="form-box">
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="login()">
            Login
          </button>
          <button type="button" class="toggle-btn" onclick="register()">
            Register
          </button>
        </div>
        <form
          id="login"
          class="input-group"
          method="post"
          action="/login_validation"
        >
          <input
            type="text"
            class="input-field"
            placeholder="Username or Email"
            name="username"
            required
            autocomplete="off"
          />
          <input
            type="password"
            class="input-field"
            placeholder="Password"
            name="pass1"
            id="login-password"
            required
            autocomplete="off"
          />
          <input type="checkbox" class="check-box" required /><span
            >Remember Password</span
          >
          <button type="submit" class="submit-btn">Log In</button>
          <button
            type="button"
            class="show-password-btn"
            onclick="showPassword('login-password')"
          >
            Show Password
          </button>
        </form>
        <form
          id="register"
          method="post"
          action="/add_user"
          class="input-group"
        >
          <input
            type="text"
            class="input-field"
            name="username"
            placeholder="Username"
            required
            autocomplete="off"
          />
          <input
            type="text"
            class="input-field"
            name="email"
            placeholder="Email"
            required
            autocomplete="off"
          />
          <input
            type="password"
            class="input-field"
            name="pass2"
            placeholder="Password"
            required
            id="register-password"
            autocomplete="off"
          />
          <input
            type="password"
            class="input-field"
            name="cpass2"
            placeholder="Confirm Password"
            required
            id="confirm-password"
            autocomplete="off"
          />
          <input type="checkbox" class="check-box" required /><span
            >I agree to the terms and condition</span
          >
          <button type="submit" class="submit-btn">Sign Up</button>
          <button
            type="button"
            class="show-password-btn"
            onclick="showPassword('register-password'); showPassword('confirm-password')"
          >
            Show Password
          </button>
        </form>
      </div>
    </div>
    <script src="static/css/main.js"></script>
    <script>
      function showPassword(id) {
        var passwordField = document.getElementById(id);
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }
    </script>
  </body>
</html>
