<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <nav class="menu">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Stats</a></li>
            <li><a href="/home#movies">Movies</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">More</a></li>
          </ul>
        </nav>
      </header>
      <main class="content">
        <section class="user-profile">
          <div class="user-info">
            <div class="profile-pic">{{ user.username[0] | upper }}</div>
            <div class="user-details">
              <h2>{{ user.username }}</h2>
              <p>Member since {{ user.created_at.strftime('%B %Y') }}</p>
            </div>
          </div>
          <div class="user-stats">
            <div class="stat">
              <h3>{{ watchlist|length }}</h3>
              <p>Movies</p>
            </div>
          </div>
        </section>
        <section class="watchlist">
          <h2>Watchlist</h2>
          {% for message in get_flashed_messages() %}
          <div class="flash-message">{{ message }}</div>
          {% endfor %} {% for item in watchlist %}
          <div class="movie-card" id="movie-{{ item.id }}">
            <img
              src="{{ item.movie_poster_url }}"
              alt="{{ item.movie_title }}"
            />
            <div class="movie-info">
              <div class="movie-title">{{ item.movie_title }}</div>
              <div class="movie-description">{{ item.movie_description }}</div>
              <div class="movie-details">
                <p>Genre: {{ item.genre }}</p>
                <p>Date: {{ item.release_date }}</p>
                <p>Time: {{ item.movie_time }} m</p>
              </div>
              <form
                action="{{ url_for('remove_from_watchlist', item_id=item.id) }}"
                method="post"
                id="remove-form-{{ item.id }}"
              >
                <button
                  class="remove-button"
                  type="button"
                  onclick="removeMovie({{ item.id }})"
                >
                  Remove
                </button>
              </form>
            </div>
          </div>
          {% endfor %}
        </section>
      </main>
    </div>
    <script>
      function removeMovie(itemId) {
        const movieCard = document.getElementById("movie-" + itemId);
        movieCard.classList.add("fade-out");
        setTimeout(function () {
          const removeForm = document.getElementById("remove-form-" + itemId);
          removeForm.submit();
        }, 500); // Adjust the timeout to match the transition duration
      }
    </script>
  </body>
</html>
